form {
  position: relative;
}

img {
    object-fit: cover;
    display: block;
    width: 45%;
}

@media (max-width: 800px) {
  form {font-size: 0.7rem;}
  img {
    width: 100%;
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
}

.password {
  margin-top: 18px;
  margin-bottom: 5px;
}
:root {
  --colour:#F78719;
}

a {
  color: var(--colour);
  font-style: normal;
  font-weight: 200;
  text-decoration: none;
}

input[type="checkbox"] {
  vertical-align: middle;
}